.resources__link{
  width: 270px;
  height: 38px;
  object-fit: cover;
  box-sizing: border-box;
  text-align: center;
  opacity: 1;
  transition-property:opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.5s;
}
.resources__link:hover {
  opacity: 0.5;
}


